.hotelDetailHead{
    padding: 16px 24px;
    margin-bottom: 8px;
    background-color: white;
    display: block;
    .detaiHeadline{
        width: 100%;
        display: flex;
        .detaiHeadlineLeft{
            width: 65%;
            .detailHeadlineTitle{
                font-size: 20px;
                font-weight: 550;
                color: #0f294d;
                display: inline;
                margin-right: 8px;
                .recommendImg{
                    margin-left: 10px;
                    width: 20px;
                    height: 19px;
                }
            }
            .detailHeadlineAddress{
                margin-top: 6px;
                margin-bottom: 6px;
            }
            .detailHeadlineUtility{
                margin-bottom: 6px;
                span{
                    margin-right: 10px;
                }
            }
        }
        .detaiHeadlineright{
            width: 40%;
            position: relative;
            .btn{
                position: absolute;
                right: 5px;bottom: 5px;
                padding: 8px 16px;
                background: #287dfa;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                border: none;
                cursor: pointer;
            }
            
        }
    }
    .detaiHeadContext{
        width: 100%;
        display: flex;
        .detaiHeadImg{
            width: 60%;
            height: 200px;
            // border: 1px solid black;
            overflow: hidden;
            display: flex;
            .imgLeft{
                width:50%;
                .imgCover{
                    width: 100% !important;
                }
            }
            .imgRight{
                width: 50%;
                margin-left: 2px;
                background-color: #fff;
                display: flex;
                flex-wrap: wrap;
                .imgRightItem{
                    width: 50%;
                    height: 100px;
                    overflow: hidden;
                }
                
            }
           
        }
    }
}
.hotelDetailRoom{
    display: block;
    .hotelDetailNav{
        padding: 0px 24px;
        background-color: white;
        display: flex;
        div{
            position: relative;
            width: 34px;
            margin-right: 18px;
            padding-bottom: 5px;padding-top: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .active{
            color: #2681ff;
            font-weight: 700;
            border-bottom-color: #2681ff;
            border-bottom: 2px solid;
        }
    }
    .hotelRoomList{
        margin-top: 5px;
        padding-top: 10px;
        background-color: white;
        .search{
            background: #f0f2f5;
            position: relative;
            margin: 16px;
            padding:10px 16px;
            max-height: 90px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .datepick{
                width: 40%;
            }
            span{
                color: gray;
                margin-left: 3px;
                font-size: 15px;
            }
        }
        .filter{
            display: flex;
            padding:0px 16px;
            .filterItem{
                width: 75px;
                color: #333;
                height: 30px;
                line-height: 30px;
                border:1px solid gainsboro;
                text-align: center;
                margin-right: 15px;
            }
            .active{
                color: #2681ff;
                border-color: #2681ff;
            }
            
        }
        .roomType{
            .roomItem{
                width: 100%;
                padding: 24px;
                display: flex;
                margin: 5px 0px;
                box-shadow: 1px 0px 5px #dadfe6;;
                .roomItemLeft{
                    width: 35%;
                    border-right: 1px solid #dadfe6;
                    flex: auto;
                    max-width: 204px;
                    box-sizing: border-box;
                    padding-right: 24px;
                    .roomPic{
                        width: 100px;
                        height: 71px;
                        position: relative;
                        cursor: pointer;
                        img{
                            width: 100%;
                        }
                    }
                    .roomName{
                        // width: 180px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        color: #0f294d;
                        padding: 6px 0;
                    }
                    .roomUtility{
                        font-size: 14px;
                        span{
                            // border-right:1px solid #d1d5db;
                            margin-right: 5px;
                        }
                        .roomUtilityDivide{
                            color: #d1d5db;
                        }
                    }
                    .roomInventory{
                        font-size: 14px;
                        padding: 6px 0;
                        color: #e72b2b;


                    }
                }
                .roomItemRight{
                    flex: 1;
                    .priceSelect{
                        padding: 24px 0 24px 24px;
                        border-left: 1px solid #dadfe6;
                        border-bottom: 1px solid #dadfe6;
                        margin-left: -1px;
                        position: relative;
                        display: flex;
                        color: #0f294d;
                        .peopleNumber{
                            min-width: 80px;
                            padding-right: 21px;
                        }
                        .breakfast span{
                            border-bottom: 1px dotted;
                        }
                        .policy{
                            margin-left: 100px;
                            padding-right: 30px;
                            box-sizing: border-box;
                            .policyItem{
                                color: #06aebd;
                                padding-bottom: 2px;
                                border-bottom: 1px dotted;
                            }
                        }
                        .rest{
                            flex: 1;
                        }
                        .priceOrder{
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-start;
                            margin-right: 30px;
                            .price{
                                margin-right: 16px;
                                line-height: 28px;
                                color: #0086f6;
                                font-size: 24px;
                                display: inline-block;
                                font-weight: 600;

                            }
                            .priceBtn{
                                .btn{
                                    font-size: 16px;
                                    line-height: 38px;
                                    background-color: #ff9500;
                                    color: white;
                                    text-align: center;
                                    height: 38px;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 2px;
                                    font-weight: 700;
                                    padding: 0 24px;
                                    box-sizing: border-box;
                                    min-width: 75px;
                                }
                                .btn:hover{
                                    cursor: pointer;
                                    background-color: #e77d03;
                                }
                                .onlinePay{
                                    text-align: center;
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #455873;
                                    line-height: 20px;
                                    margin-top: 8px;
                                }
                            }
                        }
                        
                    }
                }
            }
            .roomItem:hover{
                box-shadow:1px 0px 6px hwb(220 74% 25%);
            }
            .deactive{
                .roomItemRight{
                    .priceSelect{
                        .policy{
                            margin-left: 100px;
                            padding-right: 30px;
                            box-sizing: border-box;
                            .policyItem{
                                color: rgba(51, 51, 51, 0.722);
                            }
                        }
                        .priceOrder{
                            .price{
                                color:  rgba(51, 51, 51, 0.722);
                            }
                            .priceBtn{
                                .btn{
                                    background-color:rgba(51, 51, 51, 0.722);
                                }
                                .btn:hover{
                                    background-color: rgba(51, 51, 51, 0.813);
                                }
                                .onlinePay{
                                    color: #455873;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
    .hotelPolicy{
        margin-top: 16px;
        padding: 0 24px;
        .policyTitle{
            font-size: 20px;
            color: #0f294d;
            line-height: 24px;
            padding-top: 24px;
            font-weight: 600;
        }
        .policyMain{
            .policyItem{
                display: flex;
                justify-content: left;
                padding: 24px 0;
                border-bottom: 1px solid #dadfe6;
                .hpLeft{
                    width: 198px;
                    font-size: 14px;
                    color: #0f294d;
                    letter-spacing: 0;
                    line-height: 18px;
                    font-weight: 700;
                }
                .hpRight{
                    // display: flex;
                    margin-left: 30px;
                    width: calc(100% - 228px);
                    color: #0f294d;
                    li{
                        list-style-type: disc;
                        font-size: 14px;
                        line-height: 18px;
                        margin: 24px 0 8px;
                        font-weight: 700;
                    }
                    .titDesc{
                        p{
                            font-size: 14px;
                            color: #0f294d;
                            letter-spacing: 0;
                            line-height: 22px;
                        }
                    }
                    .hpInOut{
                        display: flex;
                        .hpIn,.hpOut{
                            font-size: 14px;
                            color: #0f294d;
                            letter-spacing: 0;
                            line-height: 18px;
                            padding-right: 90px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .policyShowmore{
            text-align: right;
            padding: 16px 12px 16px 0;
            height: 28px;
            line-height: 28px;
            
        }
    }

}
.hotelPay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010812b6;
    .payPageMain{
        // width: 70%;
        background-color: white;
        margin:100px 220px;
        .closePay{
            font-size: 16px;
            float: right;
            margin-top: -1px;
            margin-right: 2px;
            color: rgba(103, 99, 99, 0.64);
            // position: absolute;
        }
        .closePay:hover{
            cursor: pointer;
        }
        .payTitle{
            padding: 15px 24px;
            .payItem{
                margin-bottom: 8px;
                padding:10px 24px;
                background: #fff;
                color: rgb(15,41,77);
                .inDate{
                    // color:#2681ff;
                    margin-right: 10px;
                }
                .liveLength{
                    color:rgb(299,133,0);
                    font-weight: 600;

                }
                .payItemRight{
                    font-weight: 600;
                }
                .priceToPay{
                    color: #0086f6;
                    font-size: 20px;
                    font-weight: 600;
                }

            }
            .okCancel{
                display: flex;
                color:white;
                font-weight: 500;
                font-size: 18px;
                .payBtn{
                    padding: 10px 30px;
                    margin-left: 150px;
                    background-color: #0086f6;                   
                }
                .payBtn:hover{
                    cursor: pointer;
                    box-shadow:1px 0px 6px hwb(216 50% 40%);                
                }
                .cancel{
                    background-color: rgb(299,133,0);
                }
            }
        }
    }
    
}
.iconImg{
    width: 15px;
    margin-right: 3px;
}
